bin
obj
doc/gen

*.vcd
*.gtkw
*.surfer
*.filter
*.dot
*.svg

.vscode
.vs
*.sln
*.user
*.vcxproj
*.filters

*.make
Makefile

/tests/export
/tests/tmp
/tests/test*
/tests/*.vhd
/tests/*.vhdl
/tests/*.txt
/scripts/**
test_export

source/gen/
/tests/**/db
/tests/**/incremental_db
/tests/**/output_files
/tests/**/*.vhd
/tests/**/*.qws

